*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;   
    font-size: 14px;
    margin-top: 50px;
    margin-left: 40px;
}

.contenedor div{
    width: 300px;
    height: 500px;
    margin: 10px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    background-color: red;
    color: yellow;
    padding: 10px;
}
#dos{
    font-size: 40px;
    background-color: black;
    color: white;
    padding: 10px;
}